<form action="/login" method="post" id="login-form">
    <div class="container-inputs">
        <center class="white mb-2"><strong class="login-title "> Ingresa tu nombre de usuario</strong></center>
        <input type="text" name="username" id="input-username" autocomplete="off" maxlength="200">
        <center><button type="submit" id="button-username">Ingresar</button></center>
    </div>
</form>